{% extends 'auth/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Approved Items Statistics</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Item</th>
                    <th>Total Approved Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% if item_stats %}
                    {% for item in item_stats %}
                    <tr>
                        <td><a href="{% url 'stat_item_detail' item.inventory_item__id %}">{{ item.inventory_item__name }}</a></td>
                        <td>{{ item.total_approved }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2" class="text-center">No approved items found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
